@model InformationSystem.Data.Entity.Events

@{
    Layout = "~/Views/Shared/_BarangayOfficialLayout.cshtml";
    ViewData["Title"] = "Create";
}

@if (Model.EventsId != 0)
{
<h1>Update @Model.EventName</h1>
}
else
{
<h1>Create Announcement</h1>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventsId" />
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                Please click <a href="https://maps.google.com/" target="_blank" class="form-group" style="margin-top:20px">here</a> to view google map.
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="When" class="control-label"></label>
                <input id="When" name="When" class="form-control" value="@Model.When.ToString("MM/dd/yyyy")" />
                <span asp-validation-for="When" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Where" class="control-label"></label>
                <input asp-for="Where" class="form-control" />
                <span asp-validation-for="Where" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(document).ready(function () {
        $.datetimepicker.setLocale('en');
        $('#When').datetimepicker({
            timepicker: false,
            format: 'm/d/Y'
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
