@model IEnumerable<InformationSystem.Data.Entity.BarangayOfficial>
@using InformationSystem.Services;
@{
    Layout = "~/Views/Shared/_BarangayOfficialLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="row w-100">
        <div class="col-md-4">
            <div class="card border-success mx-sm-1 p-4">
                <div class="card border-success shadow text-success p-4 my-card"><span class="fa fa-street-view" aria-hidden="true"></span></div>
                <div class="text-success text-center mt-4"><h4>Teenager</h4></div>
                <div class="text-success text-center mt-2"><h1 id="teenager"></h1></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-danger mx-sm-1 p-4">
                <div class="card border-danger shadow text-danger p-4 my-card"><span class="fa fa-users" aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-4"><h4>Adult</h4></div>
                <div class="text-danger text-center mt-2"><h1 id="adult"></h1></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-warning mx-sm-1 p-4">
                <div class="card border-warning shadow text-warning p-4 my-card"><span class="fa fa-blind" aria-hidden="true"></span></div>
                <div class="text-warning text-center mt-4"><h4>Senior</h4></div>
                <div class="text-warning text-center mt-2"><h1 id="senior"></h1></div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header text-center">
        Barangay Officials
    </div>
    <table class="card-table table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Year Of Service</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.User.Name</td>
                <td>@item.Position.GetDisplayName()</td>
                <td>@item.YearOfService</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />
<div class="row w-100">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Health rates</h2>
            </div>
            <div class="card-body bg-white">
                <canvas id="healthChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Crime rates</h2>
            </div>
            <div class="card-body bg-white">
                <canvas id="crimeChart"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Chart.min.js"></script>
<script src="~/js/Home/BarangayOfficialView.js"></script>
